name: azure-cloud-node-manager
serviceType: managed

image:
  registry: gsoci.azurecr.io
  name: giantswarm/azure-cloud-node-manager
  tag: v1.34.3

controller:
  workloadIdentity:
    clientID: ""

resources:
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 200m
    memory: 200Mi

test:
  image:
    name: giantswarm/alpine-testing
    tag: 0.1.1

verticalPodAutoscaler:
  enabled: true

global:
  podSecurityStandards:
    enforced: false

deployPolicyExceptions: true
